{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}
<!-- <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> -->
<!--   <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script> -->
<!--   <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script> -->


{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function showaccompare(acname){
	data={"acname":acname};
    $.ajax({
        url:"{% url 'elmanager.views.showaccompare' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        }

    });
}



</script>



  <div id="page-wrapper"> 
   <div class="container-fluid" > 
    <div class="row">
        <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            虚拟组权益曲线
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#AG" data-toggle="tab">AG</a>
                                </li>
                                <li><a href="#RB" data-toggle="tab">RB</a>
                                </li>
                                <li><a href="#CU" data-toggle="tab">CU</a>
                                </li>
                                <li><a href="#RU" data-toggle="tab">RU</a>
                                </li>
                                <li><a href="#TA" data-toggle="tab">TA</a>
                                </li>
                                <li><a href="#JD" data-toggle="tab">JD</a>
                                </li>
                                <li><a href="#BU" data-toggle="tab">BU</a>
                                </li>
                                <li><a href="#CS" data-toggle="tab">CS</a>
                                </li>
                                <li><a href="#HC" data-toggle="tab">HC</a>
                                </li>  
                                <li><a href="#P" data-toggle="tab">P</a>
                                </li>   
                                <li><a href="#PP" data-toggle="tab">PP</a>
                                </li>   
                                <li><a href="#NI" data-toggle="tab">NI</a>
                                </li>   
                                <li><a href="#I" data-toggle="tab">I</a>
                                </li> 
                                <li><a href="#M" data-toggle="tab">M</a>
                                </li>  


                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="AG">
                                    <h4>Home Tab</h4>
                                    <div class="row">
                                    {% for item in AGdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="RB">
                                    <h4>Profile Tab</h4>
                                    <div class="row">
                                    {% for item in rbdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="CU">
                                    <h4>Messages Tab</h4>
                                    <div class="row">
                                    {% for item in CUdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="RU">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in RUdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="TA">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in TAdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="JD">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in JDdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="BU">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in BUdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="HC">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in HCdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="CS">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in CSdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="P">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in Pdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="PP">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in PPdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="NI">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in NIdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="I">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in Idata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="M">
                                    <h4>Settings Tab</h4>
                                    <div class="row">
                                    {% for item in Mdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
           
    

    ddd
   </div> 
  </div>

{% endblock %}

{% block extrabodyscript %}
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  {% for item in rbdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}
  {% for item in AGdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in CUdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in RUdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}
  {% for item in TAdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}
  {% for item in JDdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in BUdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in CSdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in HCdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in Pdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in PPdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in NIdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in Idata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in Mdata %}
  <script>
      $(function () {
          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}
{% endblock %}