{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}

{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function save_mailto_info(id){
	var id=$("#id_"+id).html();
	var name=$("#name_"+id).val();
	var email=$("#email_"+id).val();
	var istomail=$("#istomail_"+id).val();
	data={"id":id,"name":name,"email":email,"istomail":istomail};
    $.ajax({
        url:"{% url 'elmanager.views.save_mailto_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
            alert("保存成功")
        }

    });
}

function delete_mailto_info(id){
	var data={"id":id};
	if (confirm("确定删除吗")){
    $.ajax({
        url:"{% url 'elmanager.views.delete_mailto_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/mailtolist/";
        }
    });

	}

}


function add_new_mailto(){
    $.ajax({
        url:"{% url 'elmanager.views.add_new_mailto' %}",
        data:{"date":"data"},
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/mailtolist/"
            
        }    
    });


}
</script>

  <div id="page-wrapper"> 
   <div class="container-fluid" style="height: 900px"> 
    <!-- Page Heading --> 
    <div class="row"> 
     <div class="col-lg-12"> 
      <h1 class="page-header"> 邮件收件人配置 <small>可以添加--删除--修改</small> </h1> 
      <ol class="breadcrumb"> 
       <li class="active"> <i class="fa fa-dashboard"></i> 账号配置-->邮件收件人配置</li> 
      </ol> 
     </div> 
    </div> 
    <div class="row"> 
     <div class="col-lg-2"></div> 
     <div class="col-lg-8"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>报警邮件收件人列表	</h3> 
       </div> 
       <div class="panel-body"> 
        <div class="table-responsive"> 
         <table class="table table-bordered table-hover table-striped"> 
          <thead> 
           <tr> 
            <th align=center>序号#</th> 
            <th align=center width=180px>姓名</th> 
            <th align=center width=400px>电子邮箱</th> 
            <th align=center width=100px>是否开启</th>
            <th align=center>操作</th>
           </tr> 
          </thead> 
          <tbody id="mailtotable"> 
          {% for item in data %}
           <tr> 
            <td id="id_{{item.id}}" align=center >{{item.id}}</td> 
            <td align=center><input id="name_{{item.id}}"  class="form-control" value="{{item.name}}"></td> 
            <td align=center><input id="email_{{item.id}}" class="form-control" value="{{item.email}}"></td> 
            <td align=center><input id="istomail_{{item.id}}" class="form-control" value="{{item.istomail}}"></td> 
            <td align=center>
            	<button type="button" onclick="delete_mailto_info({{item.id}})">删除</button>
            	<a href="#"><i class="fa fa-arrow-circle-right"></i></a>
            	<button type="button" onclick="save_mailto_info({{item.id}})">保存</button></td>
           </tr> 

          {% endfor %}
          </tbody> 
         </table> 
        </div> 
        <div class="text-right"> 
         <button type="button" onclick="add_new_mailto()">新增一行</button>
         
         <a href="#"><i class="fa fa-arrow-circle-right"></i></a> 
        </div> 
       </div> 
      </div> 
     </div> 
     <div class="col-lg-2"></div> 
    </div> 
   </div> 
  </div>

{% endblock %}
