{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}

{% endblock %}
{% block extrastyle %}

{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function save_monitor_info(id){
	var id=$("#id_"+id).html();
	var type=$("#type_"+id).val();
	var item=$("#item_"+id).val();
	var ismonitor=$("#ismonitor_"+id).val();
  var starttime=$("#starttime_"+id).val();
  var endtime=$("#endtime_"+id).val();
	data={"id":id,"type":type,"item":item,"ismonitor":ismonitor,"starttime":starttime,"endtime":endtime};
    $.ajax({
        url:"{% url 'elmanager.views.save_monitor_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
            alert("保存成功")
        }

    });
}

function delete_monitor_info(id){
	var data={"id":id};
	if (confirm("确定删除吗")){
    $.ajax({
        url:"{% url 'elmanager.views.delete_monitor_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/";
        }
    });

	}

}


function add_new_monitor(){
    $.ajax({
        url:"{% url 'elmanager.views.add_new_monitor' %}",
        data:{"date":"data"},
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/"
            
        }    
    });


}
</script>

  <div id="page-wrapper"> 
   <div class="container-fluid" style="height: 950px"> 
    <!-- Page Heading --> 
    <div class="row"> 
     <div class="col-lg-12"> 
      <h1 class="page-header"> {{userid}} 虚拟组配置详情</h1> 
     </div> 
    </div> 
    <div class="row"> 
     <div class="col-lg-6"  style=" overflow-y:auto; height:750px;"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>{{userid}}  p_follow 配置信息	</h3> 
       </div> 
       <div class="panel-body"> 
        <div class="table-responsive"> 
          <table class="table table-bordered table-hover table-striped"> 
            <thead> 
             <tr> 
              <th align=center width=20%>账号名</th> 
              <th align=center width=20%>虚拟组</th>
              <th align=center width=10%>作用品种</th> 
              <th align=center width=20%>配置比例(%)</th> 
              <th align=center width=20%>是否跟随账号</th>
             </tr> 
            </thead>  
            <tbody id="mailtotable"> 
            {% for item in res %}
             <tr> 
              <td align=center >{{item.AC}}</td>
              <td align=center ><a href='/index/quanyi/accountdetail_ac/?userid={{item.F_ac}}' target="_blank">{{item.F_ac}}</a></td>
              <td align=center >{{item.Symbol}}</td> 
              <td align=center >{{item.ratio}}</td> 
              <td align=center >{{item.isac}}</td> 
             </tr> 

            {% endfor %}
            </tbody> 
         </table> 
        </div> 
       </div> 
      </div> 
     </div> 

     <div class="col-lg-6"  style=" overflow-y:auto; height:750px;"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>{{userid}} 商品总手数信息 </h3> 
       </div> 
       <div class="panel-body"> 
        <div class="table-responsive"> 
          <table class="table table-bordered table-hover table-striped"> 
            <thead> 
             <tr> 
              <th align=center width=20%>品种名字</th> 
              <th align=center width=20%>总配置手数</th> 
             </tr> 
            </thead>  
            <tbody id="mailtotable"> 
            {% for item in resultlist %}
             <tr> 
              <td align=center >{{item.0}}</td>
              <td align=center >{{item.1}}</td> 
             </tr> 

            {% endfor %}
            </tbody> 
         </table> 
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div>

{% endblock %}

{% block extrabodyscript %}
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% for item in rbdata %}
  <script>
      $(function () {
          $('#chartid1').highcharts({
              title: {
                  text: '{{item.acname}}--累计每日盈亏',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '累计每日盈亏'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
{% endfor %}


{% for item in rbdata1 %}
  <script>
      $(function () {
          $('#chartid2').highcharts({
              title: {
                  text: '{{item.acname}}--账号权益',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '账号权益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
{% endfor %}
{% endblock %}
