{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}

{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>



function add_new_monitor(){
    $.ajax({
        url:"{% url 'elmanager.views.add_new_monitor' %}",
        data:{"date":"data"},
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/"
            
        }    
    });


}
</script>

  <div id="page-wrapper"> 
   <div class="container-fluid" style="height: 1400px"> 
    <!-- Page Heading --> 
    <div class="row"> 
     <div class="col-lg-12"> 
      <h1 class="page-header"> 账户权益差异分解 </h1> 
      <ol class="breadcrumb"> 
       <li class="active"> <i class="fa fa-dashboard"></i> 监控信息-->账户权益差异分解</li> 
      </ol> 
     </div> 
    </div>

    <div class="row"> 
     <div class="col-lg-11"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>每日权益 {{day}}</h3> 
       </div>
       {% if isres == 2 %} 
       <div>
       没有信号僵死
       </div>
       {% endif %}
       <div class="panel-body"> 
        <div class="table-responsive"> 
         <table class="table table-bordered table-hover table-striped"> 
          <thead> 
           <tr> 
            <th align=center width=100px>账号</th> 
            <th align=center width=120px>日期</th> 
            <th align=center width=120px>(理论)指数权益</th>
            <th align=center width=120px>(理论)主力权益</th>
            <th align=center width=120px>(实际)指数权益</th>
            <th align=center width=120px>(实际)主力权益</th>
            <th align=center width=200px>(理论)主力权益-(理论)指数权益</th>
            <th align=center width=200px>(实际)主力权益-(理论)指数权益</th>
           </tr> 
          </thead>  
          <tbody id="mailtotable"> 
            {% for item in data %}
           <tr> 
            <td align=center ><a href="/index/quanyi/account_lilun_distinct_st/?date={{item.mydate}}&acname={{item.account}}" target="blank">{{item.account}}</a> <a href='/index/quanyi/acname_distinct_showaccompare/?acname={{item.account}}&fromdate={{item.mydate}}' target='blank'>(仓位)</a></td> 
            <td align=center >{{item.mydate}}</td> 
            <td align=center >{{item.lilun_zhishu}}</td> 
            <td align=center >{{item.lilun_zhuli}}</td>
             <td align=center >{{item.real_ab_zhishu}}</td> 
              <td align=center >{{item.real_ab_zhuli}}</td> 
               <td align=center >{{item.lilunzl_zs}}</td> 
                <td align=center >{{item.realzl_lilunzs}}</td> 
           </tr> 

            {% endfor %}
          </tbody> 
         </table>          
        </div> 

       </div> 
      </div> 
     </div> 
     <div class="col-lg-2"></div> 
    </div> 
   </div> 
  </div>

{% endblock %}
