{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}
<!-- <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> -->
<!--   <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script> -->
<!--   <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script> -->


{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function showaccompare(acname){
	data={"acname":acname};
    $.ajax({
        url:"{% url 'elmanager.views.showaccompare' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        }

    });
}



</script>



  <div id="page-wrapper"> 
   <div class="container-fluid" > 
    <div class="row">
    <div class="col-sm-2">
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>统计权益symbol</h3> 
       </div> 
       <div class="panel-body"> 
        <div class="table-responsive"> 
         <table class="table table-bordered table-hover table-striped"> 
          <thead> 
           <tr> 
            <th align=center width=6%>品种</th> 
           </tr> 
          </thead>  
          <tbody id="mailtotable"> 
          {% for item in res1 %}
            <tr><td><a href='/index/quanyi/acwantedequlitynew_oneacname/?symbol={{item.quanyisymbol}}'  target="_black"     >{{item.quanyisymbol}}</a></td></tr>
          {% endfor %}
          </tbody> 
         </table> 
        </div> 
       </div> 
      </div> 

    </div>
    <div class="col-sm-2">
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>统计权益symbol</h3> 
       </div> 
       <div class="panel-body"> 
        <div class="table-responsive"> 
         <table class="table table-bordered table-hover table-striped"> 
          <thead> 
           <tr> 
            <th align=center width=6%>品种</th> 
           </tr> 
          </thead>  
          <tbody id="mailtotable"> 
          {% for item in res2 %}
            <tr><td><a href='/index/quanyi/acwantedequlitynew_oneacname/?symbol={{item.quanyisymbol}}'  target="_black"     >{{item.quanyisymbol}}</a></td></tr>
          {% endfor %}
          </tbody> 
         </table> 
        </div> 
       </div> 
      </div> 

    </div>


        <!-- /.col-lg-6 -->
    </div>
           
    


   </div> 
  </div>

{% endblock %}

