{% load static %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <!-- <title>{% block title %}{% endblock %}</title> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Bootstrap Admin Template</title>
    <!-- Bootstrap Core CSS --> 
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link href="{% static 'css/sb-admin.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" /> -->
    {% block extrastyle %}{% endblock %}
    {% block extrahead %}{% endblock %}
    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}  


</head>
{% load i18n %}

<body >

<div id="wrapper">
<!-- Container -->
<div id="container">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">远澜交易系统辅助管理</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{userid}}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>{{userid}}</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
               <!--                                     <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span> -->
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">View All</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{username}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/index/change_password/"><i class="fa fa-fw fa-gear"></i> 修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/index/logout/"><i class="fa fa-fw fa-power-off"></i>退出</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
<!--                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demoget"><i class="fa fa-fw fa-arrows-v"></i>数据采集模块<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demoget" class="collapse">
                            <li>
                                <a href="{% url 'elmanager.views.fixdata' %}">数据补全</a>
                            </li>
                            <li>
                                <a href="">行情数据归档</a>
                            </li>
                        </ul>
                    </li> -->
<!--                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#stratege"><i class="fa fa-fw fa-arrows-v"></i>策略配置模块<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="stratege" class="collapse">
                            <li>
                                <a href="{% url 'elmanager.views.configmailtolist' %}">虚拟组配置</a>
                            </li>
                            <li>
                                <a href="">实盘账号配置</a>
                            </li>
                        </ul>
                    </li> -->
<!--                     <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#getbuy"><i class="fa fa-fw fa-arrows-v"></i>下单模块<i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="getbuy" class="collapse">
                            <li>
                                <a href="{% url 'elmanager.views.configmailtolist' %}">下单方式配置</a>
                            </li>
                            <li>
                                <a href="">待添加</a>
                            </li>
                        </ul>
                    </li> -->
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#equlity"><i class="fa fa-fw fa-arrows-v"></i> 权益统计 <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="equlity" class="collapse">
<!--                             <li>
                                <a href="{% url 'elmanager.views.realcompare' %}">理论实际收益对比列表</a>
                            </li> -->
                            <li>
                                <a href="{% url 'elmanager.views.acwantedequlitynew' %}">(热点)商品虚拟组</a>                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.acwantedequlityhistory' %}">历史商品虚拟组</a>                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.acwantedequlitystock' %}">股指虚拟组理论日收益</a>                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.stockmapequty' %}">股指映射虚拟组权益</a>                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.map_acname_position' %}">股指映射实时仓位</a>                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.order_account_equity' %}">账号理论权益</a>                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.futureaccounttotal' %}">期货账户权益信息</a>                                
                            </li>
<!--                             <li>
                                <a href="{% url 'elmanager.views.acwantedequlitybacktest' %}">其余商品虚拟组理论日收益</a>                                
                            </li> -->
                        </ul>
                    </li>
                    <li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#monitorconfig"><i class="fa fa-fw fa-arrows-v"></i> 监控报警配置 <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="monitorconfig" class="collapse">
                            <li>
                                <a href="{% url 'elmanager.views.configmailtolist' %}">邮件收件人配置</a>
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.configmonitorlist' %}">监控项目配置</a>
                                
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#monitorinfo"><i class="fa fa-fw fa-arrows-v"></i> 监控信息 <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="monitorinfo" class="collapse">
                            <li>
                                <a href="{% url 'elmanager.views.st_heart' %}">心跳存活信息</a>
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.lasttime_p_basic' %}">策略时间异常</a>
                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.jieti_position_monitor' %}">阶梯策略仓位监控</a>
                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.jieti_st_position' %}">阶梯型策略-信号差异监控</a>
                                
                            </li>
                            <li>
                                <a href="{% url 'elmanager.views.total_monitor' %}">日常报警查询</a>
                                
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->


</div>

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extrabodyscript %}{% endblock %}



</body>
</html>
