{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}

{% endblock %}
{% block extrastyle %}
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet" media="screen">
    <link href="../css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function save_monitor_info(id){
	var id=$("#id_"+id).html();
	var type=$("#type_"+id).val();
	var item=$("#item_"+id).val();
	var ismonitor=$("#ismonitor_"+id).val();
  var starttime=$("#starttime_"+id).val();
  var endtime=$("#endtime_"+id).val();
	data={"id":id,"type":type,"item":item,"ismonitor":ismonitor,"starttime":starttime,"endtime":endtime};
    $.ajax({
        url:"{% url 'elmanager.views.save_monitor_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
            alert("保存成功")
        }

    });
}

function delete_monitor_info(id){
	var data={"id":id};
	if (confirm("确定删除吗")){
    $.ajax({
        url:"{% url 'elmanager.views.delete_monitor_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/";
        }
    });

	}

}


function add_new_monitor(){
    $.ajax({
        url:"{% url 'elmanager.views.add_new_monitor' %}",
        data:{"date":"data"},
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/"
            
        }    
    });


}
</script>

  <div id="page-wrapper"> 
   <div class="container-fluid" style="height: 950px"> 
    <!-- Page Heading --> 
    <div class="row"> 
     <div class="col-lg-12"> 
      <h1 class="page-header"> {{userid}} 虚拟组表现  </h1> 
     </div> 
    </div> 
    <div class="row"> 
    <div class="col-lg-2">
    <form action="" class="form-horizontal" method='get'>
        <fieldset>
            <div class="row control-group">
                <label class="control-label">开始时间</label>
                <div class="controls input-append date form_date1" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input1" data-link-format="yyyymmdd">
                    <input size="16" type="text" value="{{begintime}}" readonly>
                    <span class="add-on"><i class="icon-remove"></i></span>
          <span class="add-on"><i class="icon-th"></i></span>
                </div>
          <input type="hidden" id="dtp_input1" name="begintime" value="" /><br/>
            </div>
            <div class="row control-group">
                <label class="control-label">结束时间</label>
                <div class="controls input-append date form_date1" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyymmdd">
                    <input size="16" type="text" value="{{endtime}}" readonly>
                    <span class="add-on"><i class="icon-remove"></i></span>
          <span class="add-on"><i class="icon-th"></i></span>
                </div>
          <input type="hidden" id="dtp_input2" name="endtime" value="" /><br/>
          <input type="hidden" name="userid" value="{{userid}}" />
          <div class="row">
            <div class="col-sm-12"><button type="submit">显示</button></div>
          
          </div>
            </div>

        </fieldset>
    </form>

    </div>
     <div class="col-lg-8">
     </br>
        <div class="row">
            <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                虚拟组表现   <font color="#FF0000">{{message}}</font>
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                      <div class="row col-lg-12">
                                        <div id='chartid1' style="height:400px"></div>
                                       </div>

                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
            </div>
            <!-- /.col-lg-6 -->
        </div>



     </div> 
    </div> 
   </div> 
  </div>

{% endblock %}

{% block extrabodyscript %}
<script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}" charset="UTF-8" ></script>
<script src="{% static 'js/datetimepickerlocales/bootstrap-datetimepicker.zh-CN.js' %}"></script>
<script type="text/javascript">

  $('.form_date1').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
    autoclose: 1,
    todayHighlight: 1,
    startView: 2,
    minView: 2,
    forceParse: 0
    });

</script>
{% for item in rbdata %}
  <script>
      $(function () {
          $('#chartid1').highcharts({
              title: {
                  text: '{{item.acname}}--虚拟组表现',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '平均每手盈利'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
{% endfor %}

{% endblock %}
