{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}
<!-- <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> -->
<!--   <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script> -->
<!--   <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script> -->


{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function showaccompare(acname){
	data={"acname":acname};
    $.ajax({
        url:"{% url 'elmanager.views.showaccompare' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        }

    });
}



</script>



  <div id="page-wrapper"> 
   <div class="container-fluid" > 
    <div class="row">
        <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            映射仓位信息
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#IF" data-toggle="tab">信号</a>
                                </li>


                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="IF">
                                    <h4>Home Tab</h4>
                                    <div class="row">
                                    {% for item in IFdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
           
    

    ddd
   </div> 
  </div>

{% endblock %}

{% block extrabodyscript %}
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  {% for item in IFdata %}
  <script>
    $(function () {
        var data='{{item.acname}}';
        var data1={{item.data1}};
        var data2={{item.data2}};
        var tempdata1=[];
        for(var i=0; i<data1.length; i++){
            data1[i][0]=data1[i][0]*1000;
                        }
        for(var i=0; i<data2.length; i++){
            data2[i][0]=data2[i][0]*1000;
                        } 

        $('#{{item.acname}}').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: '{{item.acname}}--交易仓位信息'
            },

            xAxis: {
                    type:"datetime",//时间轴要加上这个type，默认是linear
                    maxPadding : 0.05,
                    minPadding : 0.05,
                    tickPixelInterval : 150,
                    tickWidth:5,//刻度的宽度
                    lineColor : '#990000',//自定义刻度颜色
                    lineWidth :3,//自定义x轴宽度
                    gridLineWidth :1,
                    dateTimeLabelFormats:
                    {
                        second: '%H:%M:%S',
                        minute: '%e. %b %H:%M',
                        hour: '%b/%e %H:%M',
                        day: '%e日/%b',
                        week: '%e. %b',
                        month: '%b %y',
                        year: '%Y'
                    },
            },
            yAxis: [{
                title: {
                    text: '虚拟组仓位'
                }
            },{ 
                opposite: true,
                title: {
                    text: '映射仓位'
                }
            }],
            tooltip: {
                shared: true
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },



            series: [{
                        name:'虚拟组仓位',
                        data:data1
                        },{
                        name:'映射仓位',
                        data:data2,
                        yAxis: 1,

            }]
        });
    });       
  </script>
  {% endfor %}

{% endblock %}