{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function save_mailto_info(id){
	var id=$("#id_"+id).html();
	var name=$("#name_"+id).val();
	var email=$("#email_"+id).val();
	var istomail=$("#istomail_"+id).val();
	data={"id":id,"name":name,"email":email,"istomail":istomail};
    $.ajax({
        url:"{% url 'elmanager.views.save_mailto_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
            alert("保存成功")
        }

    });
}

function delete_order_p_follow_info(r){
  var i=r.parentNode.parentNode.rowIndex;
  document.getElementById('mailtotable').deleteRow(i);

}


function add_new_row(r){
  $("#mailtotable").append("<tr><td>{{account}}</td><td><div class='form-group'>   <select  name='acname' title='请输入账号'>   <option value='请选择'>请选择</option>      {% for item in F_aclist %}        <option value='{{item.ac}}'>{{item.type}}--{{item.ac}}</option>                {% endfor %}              </select>            </div>    </td><td><input type='text' value='100'/></td><td><button type='button' onclick='delete_order_p_follow_info(this)'>删除</button></td></tr>")

}


function begin_calculate(id){
  var mytable = document.getElementById(id);
  var data ="";
  var tempc="";
  var tempccc="";
        for(var i=1,rows=mytable.rows.length; i<rows; i++){
            tempccc=mytable.rows[i].cells[0].innerHTML;
            tempc=tempc+';'+ tempccc;
            o=mytable.rows[i].cells[1].getElementsByTagName("select")[0];
            var str = "";
            for(var j=0;j<o.length;j++){   
                          if(o.options[j].selected){
                              str+=o.options[j].value+",";
                          }
                      }
            tempccc=str.substr(0,str.length-1);

            tempc=tempc+';'+ tempccc;
            tempccc=mytable.rows[i].cells[2].getElementsByTagName("input")[0].value;
            tempc=tempc+';'+ tempccc;
            data=data+'#'+tempc;
            tempc="";
        }
    $.ajax({
        url:"{% url 'elmanager.views.save_order_p_basic' %}",
        data:{"data":data},
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
            alert("保存成功,请点击查看权益")
        }
    });



}




</script>

  <div id="page-wrapper"> 
   <div class="container-fluid"> 
    <!-- Page Heading --> 
    <div class="row"> 
     <div class="col-lg-12"> 
      <h1 class="page-header"> 账号理论权益  </h1> 
     </div> 
    </div> 

<form class="form" method='POST'>

  <div class="col-lg-1">
    <div class="form-group">
      <label class="control-label" for="lunch">请输入账号名称:</label>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="form-group">
    <div class="well">
      <input type="text" name="searchaccount"  id="search" data-provide="typeahead" data-items="4" value="{{account}}"/>
    </div>
    </div>
  </div>
  <div class="col-lg-2">
    <button type="submit" class="btn btn-default" name="query" value="query">查询</button>
  </div>
</form>

  <hr>
    </div>
{% if ishowconfig == 0 %}
    <div class="row"> 
     <div class="col-lg-6"> 
        <div class="panel panel-default"> 
         <div class="panel-heading"> 
          <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>请配置账号  </h3> 
         </div> 
         <div class="panel-body"> 
          <div class="row"> 
           <table class="table table-bordered table-hover table-striped" id="mailtotable" name="tablevontent"> 
            <thead> 
             <tr> 
              <th align=center>账号名</th> 
              <th align=center>虚拟组名</th> 
              <th align=center>比例（100%）</th> 
              <th align=center>操作</th>
             </tr> 
            </thead>
            <tbody >
            {% for item in res %}
             <tr id="{{item.myid}}"> 
              <td >{{item.ac}}</td>
              <td >

              <div class="form-group">
                <select class="selectpicker" name="acname" multiple data-live-search="true" data-live-search-placeholder="Search" data-actions-box="true">
                  <option value="{{item.F_ac}}" selected="selected">{{item.F_ac}}</option>
                  {% for item in F_aclist %}
                  <option value="{{item.ac}}">{{item.type}}--{{item.ac}}</option>
                  {% endfor %}
                </select>
              </div>
              </td>
              <td ><input type="text" value="{{item.ratio}}"/></td> 
              <td><button type="button" onclick="delete_order_p_follow_info(this)">删除</button></td>
             </tr> 
            {% endfor %} 
            </tbody> 
           </table> 
          </div> 
          <form class="form" method='POST'>
          <button type="button" class="btn btn-default" onclick="begin_calculate('mailtotable')" name="dddd">保存</button>
          <button type="submit" class="btn btn-default" name="add_new_line" value="query"" >新增一行</button>
          <button type="submit" class="btn btn-default" name="query" value="equity">查看权益曲线</button>
          <input type="hidden" name="account" value="{{account}}"/>
          </form>
         </div> 
        </div> 
     </div>
     <div class="col-lg-4"> 
        <div class="panel panel-default"> 
         <div class="panel-heading"> 
          <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>商品手数明细</h3> 
         </div> 
         <div class="panel-body"> 
          <div class="row"> 
           <table class="table table-bordered table-hover table-striped" id="mailtotable" name="tablevontent"> 
            <thead> 
             <tr> 
              <th align=center>品种名字</th> 
              <th align=center>总配置手数</th> 
             </tr> 
            </thead>
            <tbody >
            {% for item in resultlist %}
             <tr> 
              <td >{{item.0}}</td>
              <td >{{item.1}}</td>
             </tr> 
            {% endfor %} 
            </tbody> 
           </table> 
          </div> 
         </div> 
        </div> 
     </div>    
    </div> 
{% endif %}


    <div class="row">
{% if ishowconfig == 1 %}
<div class="col-lg-4">
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>账号包含的虚拟组配置信息</h3> 
       </div> 
       <div class="panel-body"> 
        <div class="table-responsive"> 
          <table class="table table-bordered table-hover table-striped"> 
          <tr>
          <td>虚拟组名</td>
          <td>配置比例</td>
          <td>信号起始时间</td>
          </tr>
          {% for item in configinfo %}
          <tr><td>{{item.0}}</td><td>{{item.1}}</td><td>{{item.2}}</td></tr>
          {% endfor %}
          </table>
        </div> 
       </div> 
      </div> 

</div>
{% endif %}

<div class="col-lg-12" >
    {% if ispass == 1 %}
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>账号权益KPI  </h3> 
       </div> 
       <div class="panel-body"> 
        <div class="table-responsive"> 
         <table class="table table-bordered table-hover table-striped"> 
          <tbody id="mailtotable"> 
          <tr>
          <td>Net_Profit</td>
          <td>{{tongji.Net_Profit}}</td>
          <td>Daily_Std</td>
          <td>{{tongji.Daily_Std}}</td>
          <td>Day_Winrate</td>
          <td>{{tongji.Day_Winrate}}</td>
          <td>Max_Day_Profit</td>
          <td>{{tongji.Max_Day_Profit}}</td>
          </tr>
          <tr>
          <td>Max_Drawdown</td>
          <td>{{tongji.Max_Drawdown}}</td>
          <td>Ann_Sharpe</td>
          <td>{{tongji.Ann_Sharpe}}</td>
          <td>Days</td>
          <td>{{tongji.Days}}</td>
          <td>Max_Loss_Days</td>
          <td>{{tongji.Max_Loss_Days}}</td>
          </tr>
          <tr>
          <td>Max_Day_to_New_High</td>
          <td>{{tongji.Max_Day_to_New_High}}</td>
          <td>Max_Win_Days</td>
          <td>{{tongji.Max_Win_Days}}</td>
          <td>Max_Day_Loss</td>
          <td>{{tongji.Max_Day_Loss}}</td>
          <td> </td>
          <td> </td>
          </tr>
          </tbody> 
         </table> 
        </div> 
       </div> 
      </div> 
    {% endif %}
    {% if ispass == 0 %}
      {% autoescape off %}
      {{result}}
      {% endautoescape %}
    {% endif %}

</div>
<div class="col-lg-12">
  <div>
      {% for item in ICdata %} 
      <h4>权益曲线图</h4>
      <div class="row">

        <div class="col-md-12"><div id='{{item.acname}}' style="min-width:700px;height:400px"></div></div>
      {% endfor %}                                    
      </div>
  </div>
</div>


   </div> 
  </div>
  {% endblock %}
{% block extrabodyscript %}
<script src="{% static 'js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'js/highcharts.js' %}"></script>
<script src="{% static 'js/bootstrap-typeahead.js' %}"></script>
<script>
    var subjects = []; 
    {% for item in aclist %}
    subjects.push('{{item.ac}}')
    {% endfor %}
    $('#search').typeahead({source: subjects})
    subjects = []; 
    {% for item in F_aclist %}
    subjects.push('{{item.ac}}')
    {% endfor %}
    $('.search').typeahead({source: subjects})
</script>

  {% for item in ICdata %}
  <script>
      $(function () {

          $('#{{item.acname}}').highcharts({
              title: {
                  text: '{{item.acname}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '账号总权益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '实际',
                  data: {{item.realquanyi}}
              }, {
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}
{% endblock %}