{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}

{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function save_monitor_info(id){
	var id=$("#id_"+id).html();
	var type=$("#type_"+id).val();
	var item=$("#item_"+id).val();
	var ismonitor=$("#ismonitor_"+id).val();
  var starttime=$("#starttime_"+id).val();
  var endtime=$("#endtime_"+id).val();
	data={"id":id,"type":type,"item":item,"ismonitor":ismonitor,"starttime":starttime,"endtime":endtime};
    $.ajax({
        url:"{% url 'elmanager.views.save_monitor_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
            alert("保存成功")
        }

    });
}

function aaaadd_whitelist(id){
	var data={"id":id};
    $.ajax({
        url:"{% url 'elmanager.views.delete_monitor_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/";
        }
    });



}

function add_whitelist(r,acname,type,tableid){
  var data={"acname":acname,"type":type};
  $.ajax({
        url:"{% url 'elmanager.views.add_whitelist' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
          var i=r.parentNode.parentNode.rowIndex;
          document.getElementById(tableid).deleteRow(i);      
        }
  });

}
function remove_whitelist(r,acname,type,tableid){
  var data={"acname":acname,"type":type};
  $.ajax({
        url:"{% url 'elmanager.views.remove_whitelist' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
          var i=r.parentNode.parentNode.rowIndex;
          document.getElementById(tableid).deleteRow(i);      
        }
  });

}






function add_new_monitor(){
    $.ajax({
        url:"{% url 'elmanager.views.add_new_monitor' %}",
        data:{"date":"data"},
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/"
            
        }    
    });


}



function refresh_alert()
{ 
  var account_distinct= '';
  var Thunder='';
  var quotes='';
  var AB='';
    $.ajax({
        url:"{% url 'elmanager.views.python_AB_monitor_newalert' %}",
        data:{"date":"data"},
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
          account_distinct=result.account_distinct.html_content
          Thunder=result.Thunder.html_content
          quotes=result.quotes.html_content
          AB=result.AB.html_content

            
        }    
    });

  $('#account_distinct').html(account_distinct)
  $('#Thunder').html(Thunder)
  $('#quotes').html(quotes)
  $('#AB').html(AB)

}

timename=setInterval("refresh_alert();",3000);







</script>

  <div id="page-wrapper"> 
   <div class="container-fluid" style="height: 34px"> 
    <!-- Page Heading --> 


      <div class="row">
      <div class="col-lg-6" >
      <div class="panel panel-default">
         <div class="panel-heading">
             <i class="fa fa-bell fa-fw"></i>{{res1.0.message}}
         </div>
         <div class="panel-body" style=" overflow-y:auto; height:400px;background:#ddd;"  >
             <div class="list-group" id="account_distinct">
             {{res1.0.html_content|safe}}

             </div>
             <!-- /.list-group -->
         </div>

                              <!-- /.panel-body -->
      </div>
      </div>
      <div class="col-lg-6" >
      <div class="panel panel-default">
         <div class="panel-heading">
             <i class="fa fa-bell fa-fw"></i>{{res1.1.message}}
         </div>
         <div class="panel-body" style=" overflow-y:auto; height:400px;">
             <div class="list-group" id="Thunder">
              {{res1.1.html_content|safe}}
             </div>
             <!-- /.list-group -->
         </div>

                              <!-- /.panel-body -->
      </div>
      </div>


      </div>
      <div class="row">
      <div class="col-lg-6" >
      <div class="panel panel-default">
         <div class="panel-heading">
             <i class="fa fa-bell fa-fw"></i>{{res1.2.message}}
         </div>
         <div class="panel-body" style=" overflow-y:auto; height:400px;background:#ddd;">
             <div class="list-group" id="quotes">
             {{res1.2.html_content|safe}}

             </div>
             <!-- /.list-group -->
         </div>


                              <!-- /.panel-body -->
      </div>
      </div>

      <div class="col-lg-6">
      <div class="panel panel-default">
         <div class="panel-heading">
             <i class="fa fa-bell fa-fw"></i> {{res1.3.message}}
         </div>
         <!-- /.panel-heading -->
         <div class="panel-body" style=" overflow-y:auto; height:400px;background:#ddd;">
             <div class="list-group" id="AB">
             {{res1.3.html_content|safe}}
             </div>
         </div>
                              <!-- /.panel-body -->
      </div>
      </div>
      </div>



    </div>
  </div> 


{% endblock %}
