<!doctype html>
<html lang="en">
<head>
  <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script>
{% for totalitem in totaldata %}
  <script>
    $(function () {
        var data='{{totalitem.0}}';
        var data1={{totalitem.1}};
        var data2={{totalitem.2}};
        var tempdata1=[];
        for(var i=0; i<data1.length; i++){
            data1[i][0]=data1[i][0]*1000;
                        }
        for(var i=0; i<data2.length; i++){
            data2[i][0]=data2[i][0]*1000;
                        } 

        $('#{{totalitem.0}}').highcharts({
            chart: {
                zoomType: 'x',
                spacingRight: 20
            },
            title: {
                text: '{{totalitem.0}}'
            },

            xAxis: {
                    type:"datetime",//时间轴要加上这个type，默认是linear
                    maxPadding : 0.05,
                    minPadding : 0.05,
                    tickPixelInterval : 150,
                    tickWidth:5,//刻度的宽度
                    lineColor : '#990000',//自定义刻度颜色
                    lineWidth :3,//自定义x轴宽度
                    gridLineWidth :1,
                    dateTimeLabelFormats:
                    {
                        second: '%H:%M:%S',
                        minute: '%e. %b %H:%M',
                        hour: '%b/%e %H:%M',
                        day: '%e日/%b',
                        week: '%e. %b',
                        month: '%b %y',
                        year: '%Y'
                    },
            },
            yAxis: [{
                title: {
                    text: '虚拟组仓位'
                }
            }],
            tooltip: {
                shared: true
            },
            legend: {
                enabled: false
            },
            plotOptions: {
                area: {
                    fillColor: {
                        linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
                        stops: [
                            [0, Highcharts.getOptions().colors[0]],
                            [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
                        ]
                    },
                    lineWidth: 1,
                    marker: {
                        enabled: false
                    },
                    shadow: false,
                    states: {
                        hover: {
                            lineWidth: 1
                        }
                    },
                    threshold: null
                }
            },



            series: [{
                        name:'理论仓位',
                        data:data1
                        },{
                        name:'实际仓位',
                        data:data2,

            }]
        });
    });       
  </script>
{% endfor %}
</head>
<body>
{% for totalitem in totaldata %}
  <div id="{{totalitem.0}}" style="min-width:700px;height:400px"></div>

{% endfor %}
}
</body>
</html>