{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}
<!-- <script type="text/javascript" src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> -->
<!--   <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script> -->
<!--   <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/exporting.js"></script> -->


{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function showaccompare(acname){
	data={"acname":acname};
    $.ajax({
        url:"{% url 'elmanager.views.showaccompare' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        }

    });
}



</script>



  <div id="page-wrapper"> 
   <div class="container-fluid" > 
    <div class="row">
        <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            虚拟组权益曲线
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#IF" data-toggle="tab">IF</a>
                                </li>
                                <li><a href="#IC" data-toggle="tab">IC</a>
                                </li>
                                <li><a href="#IH" data-toggle="tab">IH</a>
                                </li>
                                <li><a href="#TF" data-toggle="tab">TF</a>
                                </li>
                                <li><a href="#T" data-toggle="tab">T</a>
                                </li>

                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade in active" id="IF">
                                    <h4>Home Tab</h4>
                                    <div class="row">
                                    {% for item in IFdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}-{{item.symbol}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="IC">
                                    <h4>Profile Tab</h4>
                                    <div class="row">
                                    {% for item in ICdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}-{{item.symbol}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="IH">
                                    <h4>Messages Tab</h4>
                                    <div class="row">
                                    {% for item in IHdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}-{{item.symbol}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="TF">
                                    <h4>Messages Tab</h4>
                                    <div class="row">
                                    {% for item in TFdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}-{{item.symbol}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="T">
                                    <h4>Messages Tab</h4>
                                    <div class="row">
                                    {% for item in Tdata %} 
                                      <div class="col-md-6"><div id='{{item.acname}}-{{item.symbol}}' style="min-width:700px;height:400px"></div></div>
                                    {% endfor %}                                    
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
           
    

    ddd
   </div> 
  </div>

{% endblock %}

{% block extrabodyscript %}
  <script type="text/javascript" src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>
  {% for item in IFdata %}
  <script>
      $(function () {
          $('#{{item.acname}}-{{item.symbol}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}
  {% for item in ICdata %}
  <script>
      $(function () {
          $('#{{item.acname}}-{{item.symbol}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in IHdata %}
  <script>
      $(function () {
          $('#{{item.acname}}-{{item.symbol}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

  {% for item in TFdata %}
  <script>
      $(function () {
          $('#{{item.acname}}-{{item.symbol}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}


  {% for item in Tdata %}
  <script>
      $(function () {
          $('#{{item.acname}}-{{item.symbol}}').highcharts({
              title: {
                  text: '{{item.acname}}--{{item.symbol}}',
                  x: -20 //center
              },
              xAxis: {
                  categories:{{item.xaxis}}
              },
              yAxis: {
                  title: {
                      text: '每手净收益'
                  },
                  plotLines: [{
                      value: 0,
                      width: 1,
                      color: '#808080'
                  }]
              },
              tooltip: {
                  valueSuffix: '元'
              },
              legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle',
                  borderWidth: 0
              },
              series: [{
                  name: '理论',
                  data: {{item.lilunquanyi}}             
              
              }]
          });
      });
  </script>
  {% endfor %}

{% endblock %}