{% extends "base.html" %}
{% load i18n static %}
{% load url from future %}

{% block extrahead %}

{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content_title %}{% endblock %}
{% block content %}

<script>
function save_monitor_info(id){
	var id=$("#id_"+id).html();
	var type=$("#type_"+id).val();
	var item=$("#item_"+id).val();
	var ismonitor=$("#ismonitor_"+id).val();
  var starttime=$("#starttime_"+id).val();
  var endtime=$("#endtime_"+id).val();
	data={"id":id,"type":type,"item":item,"ismonitor":ismonitor,"starttime":starttime,"endtime":endtime};
    $.ajax({
        url:"{% url 'elmanager.views.save_monitor_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
            alert("保存成功")
        }

    });
}

function aaaadd_whitelist(id){
	var data={"id":id};
    $.ajax({
        url:"{% url 'elmanager.views.delete_monitor_info' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/";
        }
    });



}

function add_whitelist(r,acname,type,tableid){
  var data={"acname":acname,"type":type};
  $.ajax({
        url:"{% url 'elmanager.views.add_whitelist' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
          var i=r.parentNode.parentNode.rowIndex;
          document.getElementById(tableid).deleteRow(i);      
        }
  });

}
function remove_whitelist(r,acname,type,tableid){
  var data={"acname":acname,"type":type};
  $.ajax({
        url:"{% url 'elmanager.views.remove_whitelist' %}",
        data:data,
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
          var i=r.parentNode.parentNode.rowIndex;
          document.getElementById(tableid).deleteRow(i);      
        }
  });

}






function add_new_monitor(){
    $.ajax({
        url:"{% url 'elmanager.views.add_new_monitor' %}",
        data:{"date":"data"},
        type:"POST",
        dataType:"json",
        async:false,
        success:function(result){
        	window.location.href="/index/monitor/configmonitorlist/"
            
        }    
    });


}
</script>

  <div id="page-wrapper"> 
   <div class="container-fluid" style="height: 320px"> 
    <!-- Page Heading --> 
      <div class="row"> 
       <div class="col-lg-12"> 
        <h1 class="page-header"> 报警具体信息查询 </h1> 
        <ol class="breadcrumb"> 
         <li class="active"> <i class="fa fa-dashboard"></i> 详细报警信息---报警具体信息查询</li> 
        </ol> 
       </div> 
      </div>

      <form class="form" method='POST'>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-6">
            <table>
              <tr>
                <td width="250px"><button class="btn" name="sttype" value="day_quotes_lack">日盘行情数据缺失报警</button></td>
                <td width="250px"><button class="btn" name="sttype" value="night_quotes_lack">夜盘行情数据缺失报警</button></td>

              </tr>
              <tr>
                <td width="200px"><button class="btn" name="sttype" value="day_quotes_lasttime">日盘行情采集最新时间</button></td>
                <td width="200px"><button class="btn" name="sttype" value="night_quotes_lasttime">夜盘行情采集最新时间</button></td>
              </tr>
<!--               <tr>
                <td width="200px"><button class="btn" name="sttype" value="jieti_position_monitor">阶梯型策略仓位</button></td>
                <td width="200px"><button class="btn" name="sttype" value="jieti_position_monitor"></button></td>
              </tr> -->
              <tr>
                <td width="200px"><button class="btn" name="sttype" value="time_adjust">时间校准信息</button></td>
                <td width="200px"><button class="btn" name="sttype" value="time_adjust"></button></td>
              </tr>
            </table>
            
            </div>


          </div>

        </div>
      </form>
  </div>

{% if whichtype == 1 %}
    <div class="row"> 
     <div class="col-lg-8"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>日盘行情数据缺失报警(最多显示200个)</h3> 
       </div>
       <div class="panel-body"> 
        <div class="table-responsive"> 
         <table class="table table-bordered table-hover table-striped" id="table1"> 
          <thead> 
           <tr> 
            <th align=center>策略号</th>
            <th align=center>最新心跳日期</th>
            <th align=center >最新BAR</th> 
            <th align=center >周期</th> 
            <th align=center >所在机器</th> 
            <th align=center >相差分钟</th>
            <th align=center >策略名字</th> 
           </tr> 
          </thead>  
          <tbody id="mailtotable"> 
            {% for item in res1 %}
           <tr> 
              <td>{{item.st}}</td>
              <td>{{item.stockdate}}</td>
              <td>{{item.timenum}}</td>
              <td>{{item.period}}</td>
              <td>{{item.address}}</td>
              <td>{{item.mydatediff}}</td>
              <td>{{item.TradName}}</td>
           </tr> 
            {% endfor %}
          </tbody> 
         </table>          
        </div> 

       </div> 
      </div> 
     </div> 
    </div> 
{% endif %}
{% if whichtype == 2 %}
    <div class="row"> 
     <div class="col-lg-6"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>行情采集最新时间</h3> 
       </div>
       <div class="panel-body"> 
        <div class="table-responsive"> 
         <table class="table table-bordered table-hover table-striped" id='table2'> 
          <thead> 
           <tr> 
            <th align=center width=30px>品种</th>
            <th align=center width=30px>延迟时间</th> 
            <th align=center width=30px>最新bar时间</th> 
           </tr> 
          </thead>  
          <tbody > 
            {% for item in res1 %}
           <tr>
              <td>{{item.Symbol}}</td>
              <td>{{item.mydatediff}}</td>
              <td>{{item.stockdate}}</td>       
              

           </tr> 
            {% endfor %}
          </tbody> 
         </table>          
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
{% endif %}
{% if whichtype == 3 %}
    <div class="row"> 
     <div class="col-lg-5"> 
      <div class="panel panel-default"> 
       <div class="panel-heading"> 
        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i>时间校准信息--（与192.168.0.5机器时间比较，请第一步先校准.5机器）</h3> 
       </div>
       <div class="panel-body"> 
        <div class="table-responsive"> 
         <table class="table table-bordered table-hover table-striped" id='table2'> 
          <thead> 
           <tr> 
            <th align=center width=30px>机器名</th>
            <th align=center width=90px>相差时间(s)</th> 
           </tr> 
          </thead>  
          <tbody > 
            {% for item in res1 %}
           <tr>
              <td>{{item.address}}</td>
              <td>{{item.mydatediff}}</td>
    
              

           </tr> 
            {% endfor %}
          </tbody> 
         </table>          
        </div> 
       </div> 
      </div> 
     </div> 
    </div> 
{% endif %}



   </div> 
  </div>

{% endblock %}
